@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-spin-around: spin-around calc(var(--speed, 2s) * 2) infinite linear;

  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b; /* zinc-950 */
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f59e0b; /* amber-500 */
}
